<div class="card">
  <form [formGroup]="userForm">
    <div class="mt-5">
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-group">
            <label>first_name</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formcontrolnName="first_name" class="form-control" placeholder="first_name">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>last_name</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formcontrolnName="last_name" class="form-control" placeholder="last_name">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>email</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formcontrolnName="email" class="form-control" placeholder="email">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>