<div class="card">
  <form [formGroup]="userForm">
    <div class="mt-5 box">
      <div class="form-row">

        <div class="col-md-12">
          <div class="form-group mt-4">
            <label>Id</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="number" formcontrolnName="id" class="form-control" placeholder="id">
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="form-group mt-4">
            <label>Firstname</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formcontrolnName="first_name" class="form-control" placeholder="first_name">
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="form-group mt-4">
            <label>Lastname</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formcontrolnName="last_name" class="form-control" placeholder="last_name">
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="form-group mt-4">
            <label>Email</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formcontrolnName="email" class="form-control" placeholder="email">
            </div>
          </div>
        </div>
        <br>
        <div class="form-row mt-4">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="addItem()">Add</button> &nbsp; &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;


            <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-8 mt-4 mb-4">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>first_name</th>
          <th>last_name</th>
          <th>email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData">
          <td><span>{{item.id}}</span></td>
          <td><span>{{item.first_name}}</span></td>
          <td><span>{{item.last_name}}</span></td>
          <td><span>{{item.email}}</span></td>
          <td><button type="button" class="btn btn-primary" (click)="removeItems(item)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>